
.writFormGroup{
    display: flex;
    flex-direction: column;
}

.writeInput {
    border: 5px solid #ff7700;
    font-size: 30px;
    padding: 20px;
    width: 70vw;
    margin: 20px;
}
/* .writeSubmit {
   background-color: #ff7700 ;
   border-radius: 90px; 
   height: 40px;
   width: 100px;
   cursor: pointer;
   font-size: 20px;
   border: none;
   margin: 0 20px 20px;
} */

.NPtitle {
    height: 2rem;
    /* width: ; */
}