* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 520px;
    min-height: 600px;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
.checkTitle {
    margin: 32px 0;
    color: whitesmoke;
    font-size: 3.5rem;
    font-family: sansita swashed;
    text-shadow: 1px 1px 6px black;
  }
  .checkDescription {
    color: rgb(248, 101, 2);
    text-align: center;
    margin: 20px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
    background-color: #ebd726;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid rgb(250, 173, 29);
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }
  
  .todo-input::placeholder {
    color: #868686;
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: rgb(250, 173, 29)0%;
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid rgb(233, 126, 64);
    color:#868686;
  }
  
  .todo-button.edit {
    background: rgb(233, 126, 64);
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: 
    linear-gradient(
      90deg,
      rgb(248, 101, 2) 0%,
      rgb(233, 216, 64) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }