
.TankDetail {
    width:70vw;
    min-height:70vh;
    border:5px solid black;
    background-color: aqua;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    border-bottom: none;
}

.seaFloor {
    width:70vw;
    height: 10vh;
    background-color: chocolate;
    border:5px solid black;
    margin: 0 auto;
    border-top:none

}

@media (min-width: 913px){
    .MuiAccordion-root {
     display: none}
   }
   
   @media (max-width: 912px){
     .postsHome {
       display: none;
     }
   }