.affirmations-container {
  width: 100%;
  height: 100%;
  padding: 0.25em;
  background-image: url(../../assets/images/sunrisesss.jpeg);
  background-size: 100%;
  color: rgb(0, 0, 0);
  display: grid;
  place-content: center;
  background-repeat: no-repeat;
}

.teddy {
  /* border: 3px solid black; */
  width: 100%;
  height: 30%;
}
.affJumbo {
  padding: 10px;
  border-radius: 20px;
  /* border: 5px solid #ffd400; */
  width: 75%;
  margin: 5% 13%;
  background-color: linear-gradient(to top, #fab1b6, #ffa28e, rgb(250, 231, 157),rgb(166, 210, 240),rgb(210, 210, 255));
}
.tinaTitle {
  text-align: center;
  font-size: 2.5rem;
}
.affWords1 {
  text-align: center;
  margin: 20px;
  color:rgb(0, 0, 0);
  font-size: 1.5rem;
}

.affirmations:hover{
  filter: brightness(60%); 
}
