.postsMot {
  /* flex-wrap: wrap; */
  display: flex;
  margin: 20px;
  height: 100%;
  /* background-color: #ffd400; */
  
}

.user-mot {
  border: 3px solid #ffd400;
}

.flowerImgMot {
  height:200px;
  width: 200px;
  margin-left: 33%;
  /* animation: rotation 6s 1 linear; */
  display: block;  
  margin-left: auto;  
  margin-right: auto;  

}
/* .postMot {
  display: flex;
  background-color: rgb(240, 238, 195);
  height: 50%;
  width: 40%;
  margin: 2% 1% 2% 6%;
  border-radius: 20px;
  border:3px solid rgb(248, 153, 28)
  
} */
.postInfoMot {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.postTitleMot {
  font-size: 3rem;
  font-weight: 700;
  margin-right: 65px;
  padding-left: 10%;
  text-align: center; 
}

.postSubMot {
  font-size: 18px;
  padding: 10px;
 
}

/* @media (min-width: 913px){
 .MuiAccordion-root {
  display: none}
}

@media (max-width: 912px){
  .postsHome {
    display: none;
  }
} */