.FT-big-box {
  display: flex; 
  flex-direction: column
}

.FT-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FT-post-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
}