.user-home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 15vh;
    background-color:rgb(240, 238, 195);
}

.user-welcome {
    width:100%;
    padding:10px;
    text-align:center;
    background-color:plum;
    color: whitesmoke;
}

.aff-box {
    border:3px solid purple;
    max-width:500px; 
    display:flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin:20px; 
    text-align: center;
}

.aff-box h2 {
    font-family: 'Sansita Swashed', Verdana;
    padding:10px;
}

.aff-icon {
    align-self:flex-end;
    margin:0;
}

.user-post-list {
    border: 2px solid orange;
}

.user-post-title {
    background-color: none;
    color: black;
}

.user-home-btn-box{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.user-home-btn-box button {
    width: 200px;
    height: 40px;
    margin: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    background-color:  rgb(223, 199, 16);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}