.affirmations-container {
    width: 100%;
    height: 50%;
    padding: 0.25em;
    background: linear-gradient(#c956e6, #5eda5e);
    color: rgb(0, 0, 0);
    display: grid;
    place-content: center;
  } 

.affTitle {
    text-align: center;
}
.affWords {
    text-align: center;
    margin: 20px;
}