* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerNav {
  width: 100%;
  /* display: flex; */
  background-color: rgb(228, 135, 85);
  align-items: center;
  
}

/* .searchNav {
  display: flex;
}
.searchNavBtn {
  margin: 0 20px;
  height: 35px;
  background-color: rgb(255, 217, 0);
  border-radius: 5px;
  border: none;
  padding: 0 8px;
}

.inputNav {
  display: flex;
  margin-right: 20%;
  height: 35px;
  border-radius: 5px;
  border: none;
} */

.navA {
  min-width: 100px;
  color: rgb(255, 217, 0);
  margin: 0 16px;
  flex: 1 1 0%;
  font-weight: 600;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
  text-align: center;
}

.navA:hover {
  background-color: rgb(196, 104, 6);
}

@media (min-width:913px) {
  .menuNav {
    display: flex;
  }
}
@media (max-width: 912px) {
  .navA {
    display: none;
    margin: 20px;
    font-size: 18px;
  }
  .containerNav {
    flex-direction: column-reverse;
  }
}