.crisisBackground {
  background-color:  rgb(248, 153, 28);
  border-bottom: 5px solid rgb(248, 101, 2);
  background-image: url("../../assets/images/sunflower.jpg");
  height: 100%;
}

.crisis {
    display: flex;
    flex: 3;
    justify-content: center;
    margin: 0 25px 40px 25px;
  }
  
  .crisisBox {
    background-color:rgb(240, 238, 195);
    width: 40%;
    height: 90%;
    border-radius: 20px;
    margin-top: 40px;
    /* margin: 20px; */
    border: 5px solid #ffd400;;
  }
  .crisisTitle {
    display: flex;
    justify-content: center;
    padding: 20px 10%;
    text-decoration: underline;
  }
  
  .crisisBtn {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
    color: rgb(100, 100, 121)
  }
  
.crisisLinkName {
  color: rgb(15, 15, 44);
  
}

/* .crisisLink {
  text-decoration: none;
  margin-bottom: 20px;
} */


  .crisisDesc {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
  }