.admin-user {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
}

.admin-form2 {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid black
}

.admin {
    font-size: 2.5rem;
}

.admin-form2 input {
    /* width: 50%; */
    margin: 5px;
    padding: 5px;
}

.admin-form2 button {
    height: auto;
    font-size: 1rem; 
    align-self: center;
}


