
/* heather make pretty */

.col-aff2 {
    flex: border-box;
    flex-wrap: wrap;
    display: flex;
    margin: 20px;
    background-color: #ffd400;
    width: 100%;
    height: 100%;
    padding: 0.25em;
    background-size: 100%;
    color: rgb(0, 0, 0);
    place-content: center;
    
  }
  .col-aff1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    place-content: center;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/sunrisesss.jpeg");
    background-size: 100%;
    display: grid;
    place-content: center;
  }
  
  .affTitle {
    text-align: center;
    font-size: 50px;
    color: #773cff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-content: center;
    font-family: sansita swashed;
  }
  
  .affWords{
    color: darkgreen;
    text-align: center;
    margin: 20px; 
    text-align: center;
    margin: 20px;
  }
  .affirmation:hover{
    filter: brightness(60%); 
    
  }

  @media (min-width: 913px){
    .mdb-react-ui-kit {
     display: none}
   }
   
   @media (max-width: 912px){
     .postsHome {
       display: none;
     }
   }