.mainLogin {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: rgb(235, 211, 167);
  width: 100%;
}
.mainSign {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: rgb(235, 211, 167);
  width: 100%;
}
.sub-main-login {
  display: flex;
  justify-content: center;
  height: 100%;
  box-shadow: 11px 12px 13px 12px rgb(46, 45, 45);
  padding-top: 30;
  border-radius: 30px;
  background-color: rgb(240, 238, 195);
  border: 5px solid rgb(248, 101, 2);
}

.sub-main-sign {
  display: flex;
  justify-content: center;
  height: 100%;
  box-shadow: 11px 12px 13px 12px rgb(46, 45, 45);
  padding-top: 30;
  border-radius: 30px;
  background-color: rgb(240, 238, 195);
  border: 5px solid rgb(248, 101, 2);
}

.loginTitle {
  text-align: center;
  color: whitesmoke;
  font-family: sansita swashed;
  text-shadow: 1px 1px 6px black;
  font-size: 3.5rem;
}
.signTitle {
  margin-bottom: 10px;
  text-align: center;
  color: whitesmoke;
  font-family: sansita swashed;
  text-shadow: 1px 1px 6px black;
  font-size: 3.5rem;
}
.inputLogin {
  display: flex;
  width: 75%;
  height: 50px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
  margin-left: 55px;
}

.inputSign {
  display: flex;
  width: 75%;
  height: 50px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
  margin-left: 55px;
}

.input-field {
  padding-left: 70px;
  font-size: 20px;
}

.email-input {
  padding-bottom: 20px;
}

.btnLogSign {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  background-color: #ffe100;
  font-size: 25px;
  border: 3px solid rgb(248, 101, 2);
}

.login-btn {
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: rgb(82, 82, 233);
}

.checkbox {
  margin-right: 5px;
}

.checkboxLinks {
  color: rgb(103, 103, 228);
}

.form-alert-box {
  display: flex;
  justify-content: space-between;
}

.form-alert {
  font-size: 0.8rem;
  color: red;
  font-weight: bold;
}