.header {
  font-size: 100px;
  background-image: linear-gradient(rgb(224, 230, 173), rgb(228, 135, 85));
  width: 100%;
  height: 30%;
  padding: 0 0.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-content: center;
}

.photoHeader {
  height: 400px;
  width: 650px;
  margin-right: 10%;
  margin-left: 15%;
}
 
@media (max-width:510px ){
  .photoHeader {
    height: 200px;
    width: 350px;
  }
}