.singlePost {
  display: flex;
  /* flex: 9; */
  background-color: rgb(235, 211, 167);
  border-radius: 40px;
  margin: 20px 20px;
  border: 5px solid rgb(248, 101, 2);
  height: auto;
  /* min-width: 80px; */
  align-self: stretch;
}

.singlePost:hover {
  cursor: pointer;
}

.singlePostWrapper {
  padding: 20px;
  width: 100%;
  /* border: 2px solid magenta */
}
.singlePostTitle {
  text-align: center;
  margin: 10px;
  border-radius: 40px;
  /* border: 1px solid black; */
}
.singlePostEdit {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  /* border: 1px solid purple; */
  
}
.singlePostInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* border: 2px solid cyan; */
  text-align: center;
}

.singlePostBody-p {
  display: flex;
  width: 90%;
  font-size: 14px;
  text-align: center;
  /* border: 1px solid black; */
  flex-wrap: wrap;
}

.post-icon {
  align-self: flex-start;
  flex-direction: row;
}
